.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: color 0.2s ease-out;
}

.header__link:hover {
  color: red;
}

/* Для всех синих ссылок правильно было бы сделать один общий микс и добавлять его,
но т.к задание не подразумевает создание собственных классов, то задаю каждой ссылке отдельно.
В реальной жизни сделал бы микс. */